.nav {
	position: absolute;
	top: 15px;
	z-index: 99;
	left: 0;
	right: 0;
}
.uk-sticky-placeholder {
	height: 0 !important;
}
.top-wrap::before, .overlay-wrap::before {
	position: absolute;
	top:0;
	right:0;
	left: 0;
	bottom: 0;
	content: '';
	z-index: 1;
	background-color: rgba(0,0,0,0.5);
}
.top-wrap-height {
	height: 650px;
	transition: height 0.25s;
}
.uk-subnav-pill > * > :first-child {
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.04);
}
.top-container {
	z-index: 2;
}
.uk-logo img {
	height: 75px;
}
.subtitle-text {
	font-size: 1.5em;
	color: rgb(230, 230, 230);
	font-weight: 300;
}
.logos-grid img {
	display: block;
	width: 200px;
	margin: 0 auto;
	filter:  grayscale(100%);
	transition: filter 0.25s;
}
.logos-grid img:hover {
	display: block;
	width: 200px;
	margin: 0 auto;
	filter:  grayscale(0);
}
.logo-gridhack {
	margin-top: 20px !important;
}
.orange-title {
	text-transform: uppercase;
    font-size: 40px !important;
	font-weight: bolder; !important
    font-weight: normal;
    color: #ff5100;
	
	/* font-size: 1.2em; */
	/* font-size: 20px;
	color: "orange";
	text-transform: uppercase;
	font-weight: 300; */
}

/* Custom CSS from here */

.uk-logo{
	width: 500px;
}

.uk-height-medium {
    height: 650px;
}

.shadow{
	  	text-shadow: 0px 0px 30px #000000;
}
.blue-text{
	color: #005da6;
}

.light-blue-section { background: #e6f4ff; }

.blue-gradient-section { 
	background-image: linear-gradient(to right, #1d4387 , #005da6);
}

.uk-section-large {
    padding-top: 50px;
    padding-bottom: 50px;
}
.uk-button-primary{
    background-color: #ce5b28;
    color: #fff;
}
